<div class="homepage post-list flex-col gap-10 flex">
    <h1 class="font-stretch-extra-condensed">Latest News</h1>
    {% for post in posts %}
    <div class="post bg-amber-100 p-3 rounded-md">
        <h2 class="font-semibold font-stretch-extra-condensed mb-2">
            <a href="{{ calc_url(post) }}"> {{ post.frontmatter.title }} </a>
        </h2>
        {% with frontmatter = post.frontmatter %} {% include "_metadata.html" %}
        {% endwith %}
        <div class="post-excerpt prose line-clamp-2">{{ post.excerpt }}</div>
        <div class="post-meta2">
            <div>
                {% with tags = post.tags %} {% include "_tags.html" %} {%
                endwith %}
            </div>
            <div class="post-more">
                <a href="{{ calc_url(post) }}">read more…</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
