<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% block title %}{% block page_title %}{% endblock %} | {{ site.title }}{%
      endblock %}
    </title>
    {% if site.description %}
    <meta name="description" content="{{ site.description }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ calc_url('style.css') }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      href="{{ site.host }}{{ calc_url(site.feed_url) }}"
    />
    <script src="{{calc_url('htmx.min.js')}}"></script>
  </head>
  <body class="flex min-h-screen flex-col overflow-y-auto">
    <header
      id="site-header"
      class="sticky top-0 z-10 flex h-fit w-full justify-between border-b-amber-800/30 bg-amber-200 px-20 py-6 text-2xl transition-all duration-200 ease-in-out 2xl:px-84"
    >
      <a href="/">
        <img
          id="header-logo"
          src="/logo.svg"
          class="w-44 transition-all duration-200 ease-in-out"
        />
      </a>

      <nav
        class="flex flex-row items-center gap-10 text-sm font-bold font-stretch-condensed"
      >
        {% if lang == 'de' %}
        <a href="/" class="black hover:text-amber-700/80">Home</a>
        {% elif lang == 'en' %}
        <a href="/en/" class="black hover:text-amber-700/80">Home</a>
        {% endif %}

        <a
          href="/{{ lang }}{{ calc_url('/schematismus/') }}"
          hx-get="/{{ lang }}{{ calc_url('/schematismus/') }}__partial.html"
          hx-target="#contents"
          hx-push-url="/{{ lang }}{{ calc_url('/schematismus/') }}"
          hx-swap-oob="true"
          class="black hover:text-amber-700/80"
        >
          The Schematismus
        </a>
        <a
          href="/{{ lang }}{{ calc_url('/about/') }}"
          hx-get="/{{ lang }}{{ calc_url('/about/') }}__partial.html"
          hx-target="#contents"
          hx-push-url="/{{ lang }}{{ calc_url('/about/') }}"
          hx-swap-oob="true"
          class="black hover:text-amber-700/80"
        >
          Digital Wizardry</a
        >
        <a
          href="/{{ lang }}{{ calc_url('/team/') }}"
          hx-get="/{{ lang }}{{ calc_url('/team/') }}__partial.html"
          hx-target="#contents"
          hx-push-url="/{{ lang }}{{ calc_url('/team/') }}"
          hx-swap-oob="true"
          class="black hover:text-amber-700/80"
        >
          Team &amp; Partners</a
        >

        <div id="lang-switch" hx-swap-oob="true">
          {% if lang == 'en' %}
          <span class="mr-2 text-amber-600">EN</span> |
          <a
            id="lang-de"
            class="ml-2 hover:text-amber-700/80"
            href="{{ alt_lang_url }}"
            >DE</a
          >
          {% elif lang == 'de' %}
          <a
            id="lang-en"
            class="mr-2 hover:text-amber-700/80"
            href="{{ alt_lang_url }}"
            >EN</a
          >
          | <span class="ml-2 text-amber-600">DE</span> {% endif %}
        </div>
      </nav>
    </header>

    <div class="mt-10 mb-10 flex flex-col gap-10 px-20 sm:flex-row 2xl:mx-64">
      <main id="contents" class="flex-1">
        <div>{% block content %}{% endblock %}</div>
      </main>
      <aside class="w-fit max-w-md shrink-0 wrap-break-word">
        {% include "_sidebar.html" %}
      </aside>
    </div>
    <footer
      class="mt-auto flex w-full items-center justify-between bg-amber-400/20 px-20 py-3 text-sm"
    >
      <span>© 2026 Unlocking The Schematismus</span>
      <nav class="flex gap-4 text-xs">
        <a href="#">Privacy</a>
        <a href="#">Contact</a>
      </nav>
    </footer>
  </body>

  <script>
    const header = document.getElementById("site-header");
    const header_logo = document.getElementById("header-logo");
    window.addEventListener("scroll", () => {
      if (window.scrollY > 10) {
        header.classList.add("py-3", "text-base", "shadow-2xl", "bg-amber-400");
        header.classList.remove("py-6", "text-xl", "bg-amber-200");
        header_logo.classList.remove("w-44");
        header_logo.classList.add("w-32");
      } else {
        header.classList.add("py-6", "text-xl", "bg-amber-200");
        header.classList.remove(
          "py-3",
          "text-2xl",
          "shadow-2xl",
          "bg-amber-400",
        );
        header_logo.classList.remove("w-32");
        header_logo.classList.add("w-44");
      }
    });
  </script>
</html>
