{% extends "base.html" %} {% block title %} {{ site.title }} {% endblock %} {%
block content %}
<div class="homepage">
  <h1 class="mb-10 text-5xl font-bold font-stretch-condensed">
    Unlocking the Schematismus
  </h1>

  <div
    class="prose prose-img:text-center prose-p:font-serif prose-headings:font-bold prose-h1:text-3xl prose-h2:text-2xl prose-headings:font-stretch-condensed mt-10"
  >
    <h2>Die Entstehung der zentraleuropäischen Mittelklasse</h2>
    <p>
      Wer waren die Menschen, die das Habsburgerreich im "langen 19.
      Jahrhundert" (1789–1914) am Laufen hielten – Beamte, Förster, Lehrerinnen,
      Amtsveterinäre, Postangestellte? Das Projekt "Unlocking the Schematismus"
      macht sie sichtbar. Grundlage dafür ist eine der reichhaltigsten, aber
      bislang kaum systematisch ausgewerteten Quellen zur Verwaltungsgeschichte
      Zentraleuropas: das Hof- und Staatshandbuch der Habsburgermonarchie,
      genannt Schematismus, ein zwischen 1702 und 1918 beinahe jährlich
      erschienenes Verzeichnis mit insgesamt rund 150 Bänden mit Zehntausenden
      Namen, Titeln und Funktionen.
    </p>
    <div class="float-right my-2 ml-2 w-1/2">
      <figure>
        <img src="/schematismus.png" class="rounded-md border" />
        <figcaption>An index page of the Schematismus</figcaption>
      </figure>
    </div>
    <p>
      Ein transdisziplinäres Team aus Historiker:innen, Digital Humanists und
      Informatiker:innen an den Universitäten Graz und Wien sowie der TU Graz
      nutzt Methoden des maschinellen Lernens, um diese riesige, komplex
      strukturierte Quelle erstmals vollständig zu erschließen. Aus den
      gescannten Seiten entsteht ein durchsuchbarer Wissensgraph, der zeigt, wie
      sich Karrieren, soziale Mobilität und Netzwerke über Generationen hinweg
      entwickelten, und wie daraus eine neue gesellschaftliche Mitte entstand,
      die den modernen Staat mittrug.
    </p>

    <p>
      Das Projekt wird vom österreichischen Wissenschaftsfonds FWF als
      Forschungsgruppe (FG) für fünf Jahre gefördert und verbindet historische
      Fragestellungen mit den neuesten Werkzeugen der Datenwissenschaft.
    </p>
  </div>
</div>
{% endblock %}
