{% block content %}
<div class="prose mb-10">
  <h1 class="text-4xl font-bold font-stretch-condensed">
    {{ frontmatter.title }}
  </h1>

  <div
    class="prose prose-img:text-center prose-p:font-serif prose-headings:font-bold prose-h1:text-3xl prose-h2:text-2xl prose-headings:font-stretch-condensed mt-10"
  >
    {{ content }}
  </div>
</div>
{% endblock %}

<div id="lang-switch" hx-swap-oob="true">
  {% if lang == 'en' %} <span class="mr-2 text-amber-600">EN</span> |
  <a id="lang-de" class="ml-2 hover:text-amber-700/80" href="{{ alt_lang_url }}"
    >DE</a
  >
  {% elif lang == 'de' %}
  <a id="lang-en" class="mr-2 hover:text-amber-700/80" href="{{ alt_lang_url }}"
    >EN</a
  >
  | <span class="ml-2 text-amber-600">DE</span> {% endif %}
</div>
